* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 99;
    height: 4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;


    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.5rem;
    }

    ul {
        display: flex;
        gap: 10px;
    }

    ul li {
        list-style-type: none;
    }

    ul li a {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: var(--primary-color);
        text-decoration: none;
        position: relative;
        padding-bottom: 5px;
    }

    ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: var(--primary-color);
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }

    ul li a::after {
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }

    a:hover::after,
    a:focus::after {
        transform: scale(1);
    }
}

.active {
    background-color: rgba(34, 34, 34, 0.8);
    border-bottom: 3px solid #f1683a;

    ul li a {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: var(--secondary-color);
        text-decoration: none;
        position: relative;
        padding-bottom: 5px;
    }

    .logo {
        font-size: 16px;
        font-weight: 700;
        color: var(--secondary-color);
        line-height: 24px;
    }
}

.logo {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 24px;
}